.t {
    margin-top: 100px;
}

.body-asked {
    margin-top: 100px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    background-color: #fff;
    border-radius: 8px;
    border-bottom: none;
    margin-bottom: 10px;
    padding: 2rem;
}

.img-body {
    .preview-imagee {
        width: 150px;
        height: 150px;
    }
}