.detail-clinic__img {
    width: 200%;
    height: 114px;
    background-size: contain;
    background-repeat: no-repeat;
}

.detail-clinic__body-text {
    font-size: 26px;
    color: rgb(40, 49, 63);
    font-weight: 700;
}

.detail-clinic__text-up {
    font-size: 18px;
    color: rgb(40, 49, 63);
    font-weight: 400;
}