.doctor-extra-info-container {

    width: 100%;
    float: left;
    padding-left: 20px;
    border-top: none;
    margin-top: 0px;
    border: 1px solid #eee;
    padding: 1rem;
    border-radius: 8px;

    .doctor-extra-info__up {


        .extra-info__up--title {
            text-transform: uppercase;
            font-size: 14px;
            color: #666;
            font-weight: bold;
        }


        .extra-info__up--name {
            font-size: 1.2rem;
            padding: 3px 0;
        }

        .extra-info__up--address {
            font-size: 1.2rem;
            padding: 3px 0;
        }
    }

    .doctor-extra-info__dow {
        .extra-info__dow--container {
            margin-top: 1rem;
            font-size: 1.1rem;
            color: #666;
            font-weight: bold;

            .dow--price {
                margin-left: 1rem;
            }

            .dow--show {
                color: #45c3d2;
                text-decoration: none;
                margin-left: 0.2rem;
                cursor: pointer;
            }
        }

        .price-show-container {
            .show-container-header {
                margin: 15px 0 -15px 0;
                color: #45c3d2;
                text-transform: uppercase;
                font-size: 1.2rem;
            }

            .show-container-price {
                text-transform: uppercase;
                font-size: 1.2rem;
                color: #666;
                font-weight: bold;
                margin: 15px 0 -15px 0;
            }

            .show-container-body {
                margin: 2rem 0 -15px 0;
                display: flex;
                justify-content: start;
                align-items: center;
                font-size: 1.2rem;


                .container-body-text-price {}

                .container-body-price {
                    margin-left: 1rem;
                }


            }

            .container-body__atm {
                margin-top: 2rem;
                margin-bottom: 1rem;
                font-size: 1.2rem;

            }

            .currency {
                margin: 15px 0 -15px 0;
                color: #45c3d2;
                cursor: pointer;
                font-size: 1.2rem;
                border: none !important;
                margin: 0 !important;
                padding: 0 !important;
            }

        }
    }
}