.for-life-content{
    border: none !important;

    .for-life-content__text{
  
        font-size: 16px;

        line-height: 24px;
        font-weight: 600;
        color: rgb(26, 26, 26);
        display: block;
        text-align: center;
        &:hover{
            cursor: pointer;
            color: #3498db;
        }
    }
}




.slick-prev{
    background: rgb(181, 231, 237) !important;
    left: 0 !important;
    top: 0% !important;
    z-index: 1000 !important;
    height: 40px!important;
    width: 40px!important;
    border-radius: 0.6rem !important;

}

.slick-next{
    right: 0 !important;
    top: 45% !important;
    z-index: 1000 !important;
    height: 40px!important;
    width: 40px!important;
    background: rgb(181, 231, 237) !important;
    border-radius: 0.6rem !important;
}